@model Deluxe.QCReport.Common.Models.UserAccountVM



@{
    var itemNo = 0;
    var users = Model.Users;
}

@if (users.Any())
{
    <table id="tblAdmin" cellspacing="0" style="width: 100%; table-layout: fixed; word-wrap: break-word;">
        <thead>
            <tr>
                <th class="tblHeaderCell tblHeaderNumberCell">Item No.</th>
                <th class="tblHeaderCell">User Name</th>
                <th class="tblHeaderCell">Full Name</th>
                <th class="tblHeaderCell">Location</th>
                <th class="tblHeaderCell">Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                itemNo++;
                <tr class='clickable-row' style="cursor:pointer;" onclick=" rowOnClick()" data-id="@user.qcUserId " title="Click the row to update the user">
                    <td>@itemNo</td>
                    <td>@user.UserName</td>
                    <td>@user.FullName</td>
                    <td>@user.LocationName</td>
                    <td>@user.Role</td>
                </tr>
            }
        </tbody>
    </table>

    <p>&nbsp;</p>
}



<script src="~/Scripts/custom/administrationDatatable.js?v=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>


