@model Deluxe.QCReport.Web.Models.HomeVM

<div class="bs-callout bs-callout-warning">
    @using (Html.BeginForm("SaveProgrammeLayout", "BanijayRights", FormMethod.Post, new { @class = "form-horizontal form-group-sm", @style = "margin-top: 20px;", @id = "form_jobdetails" }))
    {


        <div class="row" style="margin-top: -25px;">
            <div class="col-xs-8" style="font-size:14px;font-weight:bold">
                @string.Format("{0} - {1}: Banijay Rights - Layout", Model.BanijahRightsProgrammeLayout.QCNum, Model.BanijahRightsProgrammeLayout.SubQCNum)
            </div>
        </div>

        @Html.HiddenFor(m => m.BanijahRightsProgrammeLayout.Id);
        @Html.HiddenFor(m => m.BanijahRightsProgrammeLayout.QCNum);
        @Html.HiddenFor(m => m.BanijahRightsProgrammeLayout.SubQCNum);
        @Html.HiddenFor(m => m.BanijahRightsTapeLayout.QCNum)
        @Html.HiddenFor(m => m.BanijahRightsTapeLayout.SubQCNum)
        @Html.HiddenFor(m => m.BanijahRightsTapeLayout.Id)

        <div class="row" style="margin-top: -25px;">
            <div class="col-xs-8">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col-xs-1 form-group" style="margin-left:5px;">
                <label class="control-label">Programme:</label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-1 form-group" style="margin-left: 5px; width: 160px">
                <label class="control-label">Programme In:</label>
            </div>
            <div class="col-xs-1 form-group" style="margin-left:5px">
                @Html.TextBoxFor(m => m.BanijahRightsProgrammeLayout.ProgrammeIn,
              new { @class = "form-control timecode programme", placeholder = "hh:mm:ss:ff", maxlength = "11", @style = "width:90px" })
            </div>


            <div class="col-xs-1 form-group text-right" style="margin-left: 5px; width: 200px">
                <label class="control-label">Programme Out:</label>
            </div>
            <div class="col-xs-1 form-group text-right" style="margin-left: 5px; width: 100px">
                @Html.TextBoxFor(m => m.BanijahRightsProgrammeLayout.ProgrammeOut,
               new { @class = "form-control timecode programme", placeholder = "hh:mm:ss:ff", maxlength = "11", @style = "width:90px" })
            </div>

            <div class="col-xs-1 form-group text-right" style="margin-left: 5px; width: 220px">
                <label class="control-label">Total Length Including Breaks:</label>
            </div>
            <div class="col-xs-1 form-group text-right" style="margin-left: 5px; width: 100px">
                @Html.TextBoxFor(m => m.BanijahRightsProgrammeLayout.TotalLengthIncludingBreaks,
               new { @class = "form-control timecode programme", placeholder = "hh:mm:ss:ff", maxlength = "11", @style = "width:90px" })
            </div>

        </div>



        <div class="row">
            <div class="col-xs-1 form-group" style="margin-left: 5px; width: 160px">
                <label class="control-label">Programme Duration:</label>
            </div>
            <div class="col-xs-1 form-group text-right" style="margin-left:5px;">
                @Html.TextBoxFor(m => m.BanijahRightsProgrammeLayout.ProgrammeDuration,
              new { @class = "form-control programme", maxlength = "11", @style = "width:90px" })
            </div>


            <div class="col-xs-1 form-group  text-right"  style="margin-left: 5px; width: 200px">
                <label class="control-label"> Number of parts:</label>
            </div>
            <div class="col-xs-2 form-group text-right" style="margin-left: 5px; width: 100px"t>
                @Html.TextBoxFor(m => m.BanijahRightsProgrammeLayout.NumberOfParts,
               new { @class = "form-control programme", @style = "width:60px", @type = "number" })
            </div>

        </div>

        <div class="row">
            <div class="col-xs-1 form-group" style="margin-left: 5px; width: 160px">
                <label class="control-label"> Slate / Clock Accurate:</label>
            </div>
            <div class="col-xs-1 form-group " style="margin-left:5px;">
                @Html.DropDownListFor(m => m.BanijahRightsProgrammeLayout.SlateAccurate,
                          new SelectList(Model.YesNoNAList, "value", "value", 
                          Model.BanijahRightsProgrammeLayout.SlateAccurate), "",
                          new { @class = "form-control programme", @style = "width:50px" })
            </div>


            <div class="col-sm-1 form-group  text-right" style="margin-left: 5px; width: 200px">
                <label class="control-label">Next week / trailer present:</label>
            </div>
            <div class="col-sm-1 form-group text-right" style="margin-left: 5px; width: 200px">
                @Html.DropDownListFor(m => m.BanijahRightsProgrammeLayout.NextWeekOrTrailerPresent,
                          new SelectList(Model.NextWeekOrTrailerPresentList, "value", "value", Model.BanijahRightsProgrammeLayout.NextWeekOrTrailerPresent), "",
                          new { @class = "form-control programme", @style = "width:100px" })
            </div>

        </div>

        <hr />

        <br />

        if (Model.SecurityLevel >= 1)
        {
            <div class="row">
                <div class="col-xs-4">
                    &nbsp;
                </div>
                <div class="col-xs-4">
                    <div>
                        <button type="button" class="btn btn-xs btn-primary CRUDButton" id="btnSave">Save</button>
                        <button type="button" class="btn btn-xs btn-danger CRUDButton" id="#btnReset" onclick="Reset()">Reset</button>
                        <button type="button" class="btn btn-xs btn-warning CRUDButton" id="btnDeletePrompt" disabled>Delete</button>
                    </div>

                </div>
            </div>

            <br />
        }

<div class="row">

    <div class="col-xs-1 form-group" style="margin-left:5px;">

        <label class="control-label">Item No:</label>
        @Html.TextBoxFor(m => m.BanijahRightsTapeLayout.ItemNum, 
       new { @class = "form-control", @type = "number", @width = "40px" })
    </div>

    <div class="col-xs-2 form-group" style="margin-left:5px;">
        <label class="control-label">Layout:</label>
        @Html.TextBoxFor(m => m.BanijahRightsTapeLayout.Type,
      new { @class = "form-control", @style = "width:150px" })
    </div>

    <div class="col-xs-2 form-group " style="margin-left:5px;">
        <label class="control-label">Timecode In:</label>
        @Html.TextBoxFor(m => m.BanijahRightsTapeLayout.TimecodeIn,
       new { @class = "form-control timecode", placeholder = "hh:mm:ss:ff", maxlength = "11", @style = "width:90px" })

    </div>

    <div class="col-xs-2 form-group" style="margin-left:12px;">
        <label class="control-label">Timecode Out:</label>
        @Html.TextBoxFor(m => m.BanijahRightsTapeLayout.TimecodeOut,
       new { @class = "form-control timecode", placeholder = "hh:mm:ss:ff", maxlength = "11", @style = "width:90px" })
    </div>

    <div class="col-xs-2 form-group" style="margin-left:12px;">
        <label class="control-label">Part Duration ex holds:</label>
        @Html.TextBoxFor(m => m.BanijahRightsTapeLayout.PartDurationExcludingHolds,
       new { @class = "form-control", maxlength = "100", @style = "width:200px" })
    </div>

    <div class="col-xs-2 form-group" style="margin-left:12px;">
        <label class="control-label">Count As Show:</label>
        @Html.DropDownListFor(m => m.BanijahRightsTapeLayout.CountAsShow,
                  new SelectList(Model.CountAsShowList, "value", "value", Model.BanijahRightsTapeLayout.CountAsShow), "",
                  new { @class = "form-control", @style = "width:90px" })
    </div>
</div>

<div id="divTapeLayoutGrid" class="row">
    @{Html.RenderPartial("_TapeLayoutGrid", Model);}

</div>

}



</div>

<!-- Modal -->
<div class="modal fade" id="deletePromptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body" style="font-size:14px;font-weight:bold;">

            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-sm btn-danger" id="btnDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function setActiveButton() {
        $(".subMenuOnClick").removeClass("subMenuOnClick")
        $('#lnkBNJRProgrammeLayout').addClass("subMenuOnClick");
    }

    $(function () {
        $(function () {
                setActiveButton();

                $(".timecode").mask("99:99:99:99");

                 var securityLevel = @Model.SecurityLevel

                $(".programme").blur(function () {

                    if (securityLevel >= 1)
                    {
                        saveProgramme();
                    }

                });


            $('#btnSave').on("click", function () {

                if ($('#@Html.IdFor(m => m.BanijahRightsTapeLayout.ItemNum)').val() == '') {
                    alert("Please add an item number and continue... ")
                    return;
                }

              if ($('#@Html.IdFor(m => m.BanijahRightsTapeLayout.Type)').val() == '') {
                  Msg.success("Please add a tape layout type and continue... ", 2 * 1000);
                  return;
              }

              if ($('#@Html.IdFor(m => m.BanijahRightsTapeLayout.TimecodeIn)').val() == '_:_:_'
               && $('#@Html.IdFor(m => m.BanijahRightsTapeLayout.TimecodeIn)').val() == '') {
                  Msg.success("Please add a tape layout timecode in and continue... ", 2 * 1000);
                  return;
              }

              if ($('#@Html.IdFor(m => m.BanijahRightsTapeLayout.TimecodeOut)').val() == '_:_:_'
              && $('#@Html.IdFor(m => m.BanijahRightsTapeLayout.TimecodeOut)').val() == '') {
                  Msg.success("Please add a tape layout timecode out and continue... ", 2 * 1000);
                  return;
              }

            var qcno = '@Model.BanijahRightsProgrammeLayout.QCNum';
            var revno = '@Model.BanijahRightsProgrammeLayout.SubQCNum';
            var myModel = $('#form_jobdetails').serializeObject();

            console.log(myModel)

              $.post('/BanijayRights/SaveTapeLayout', { model: myModel }).done(function (data) {

                if (data.success == true) {
                    Msg.success(data.msg, 2 * 1000);
                    LoadTapeLayouts(qcno, revno);

                }
                else {
                    Msg.error(data.msg, 5 * 1000);
                }
            })
            .fail(function (xdata) {

                Msg.error('Error occured! <b>Status:</b> ' + xdata.status + ' <b>Error Message:</b> ' + xdata.statusText, 5 * 1000);
            })
            .always(function () {

            });
            });

                 //**************Save Layout Item on enter ********************************************


             $('#@Html.IdFor(m => m.BanijahRightsTapeLayout.ItemNum)').keyup(function (event) {
                if (event.key == 'Enter') {
                    SaveLayoutEnterClick();
                }
            });

             $('#@Html.IdFor(m => m.BanijahRightsTapeLayout.TimecodeIn)').keyup(function (event) {
                if (event.key == 'Enter') {
                    SaveLayoutEnterClick();
                }
            });

             $('#@Html.IdFor(m => m.BanijahRightsTapeLayout.TimecodeOut)').keyup(function (event) {
                if (event.key == 'Enter') {
                    SaveLayoutEnterClick();
                }
            });

             $('#@Html.IdFor(m => m.BanijahRightsTapeLayout.PartDurationExcludingHolds)').keyup(function (event) {
                if (event.key == 'Enter') {
                    SaveLayoutEnterClick();
                }
            });

             $('#@Html.IdFor(m => m.BanijahRightsTapeLayout.CountAsShow)').keyup(function (event) {
                if (event.key == 'Enter') {
                    SaveLayoutEnterClick();
                }
            });








        });

    });

    function SaveLayoutEnterClick() {

        $('#btnSave').click();

    }

    function saveProgramme() {


         //Validate
        if ($('#@Html.IdFor(m => m.BanijahRightsProgrammeLayout.ProgrammeIn)').val() == '_:_:_'
             && $('#@Html.IdFor(m => m.BanijahRightsProgrammeLayout.ProgrammeIn)').val() == '') {
                  Msg.success("Please add a programme in timecode in and continue... ", 2 * 1000);
                  return;
              }

        if ($('#@Html.IdFor(m => m.BanijahRightsProgrammeLayout.ProgrammeOut)').val() == '_:_:_'
             && $('#@Html.IdFor(m => m.BanijahRightsProgrammeLayout.ProgrammeOut)').val() == '') {
                  Msg.success("Please add a programme out timecode in and continue... ", 2 * 1000);
                  return;
              }


        var myModel = $('#form_jobdetails').serializeObject();

        $.post('/BanijayRights/SaveProgrammeLayout', { model: myModel}).done(function (data) {

            if (data.success == true) {

                // Msg.success(data.msg, 2 * 1000);
            }
            else {
                Msg.error(data.msg, 5 * 1000);
            }
        })
            .fail(function (xdata) {

                Msg.error('Error occured! <b>Status:</b> ' + xdata.status + ' <b>Error Message:</b> ' + xdata.statusText, 5 * 1000);
            })
            .always(function () {


            });
    }


</script>

