@model Deluxe.QCReport.Web.Models.HomeVM

<div class="bs-callout bs-callout-warning">


    @using (Html.BeginForm("SaveChecklist", "Job", FormMethod.Post, new { @class = "form-horizontal form-group-sm", @style = "margin-top: 20px;", @id = "form_jobdetails" }))
    {
        <div class="row" style="margin-top: -25px;">
            <div class="col-xs-8" style="font-size:14px;font-weight:bold">
                @string.Format("{0} - {1}: Checklist: Warner Bros Localised Variants", Model.ChecklistWarner.Qcnum, Model.ChecklistWarner.subQcnum)
            </div>
        </div>
        if (Model.SecurityLevel >= 1)

        {

            <div class="row">
                <div class="col-xs-8 text-center" style="font-size:14px;font-weight:bold">
                    <button type="button" class="btn btn-xs btn-primary CRUDButton" id="btnSave">Save</button>
                </div>
            </div>

        }
        <div class="row">
            <div class="col-xs-8" style="font-size:14px;font-weight:bold">
                &nbsp;
            </div>
        </div>
        <div class="row" style="margin-top: -25px;">
            <div class="col-xs-7" style="font-size:14px;font-weight:bold;">

                <label class="control-label"><b style="font-size:14px;">File to Spec: </b></label>
                <label class="radio-inline" style="font-weight:bold;margin-top:-5px;">@Html.RadioButtonFor(m => m.ChecklistWarner.IsFile, true) Yes </label>
                <label class="radio-inline" style="font-weight:bold;margin-top:-5px;">@Html.RadioButtonFor(m => m.ChecklistWarner.IsFile, false) No </label>
            </div>
        </div>




        @Html.HiddenFor(m => m.ChecklistWarner.Qcnum);
        @Html.HiddenFor(m => m.ChecklistWarner.subQcnum);
        @Html.HiddenFor(m => m.ChecklistWarner.CustId);


        @*<div class="row" style="height:500px; overflow-y:auto;overflow-x:hidden;">*@

        <div class="bs-callout bs-callout-default">
            <div class="row">

                <div class="col-sm-7">
                    <b style="font-size:14px;">Video and Content</b>
                    <hr />

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Was OV report supplied:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.WasOVReportSupplied, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.WasOVReportSupplied, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Were localised text documents supplied:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.WereAllLocalisedTextDocumentsSupplied, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.WereAllLocalisedTextDocumentsSupplied, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Was OV report used to create the language variant report & <br /> timecodes / faults copied:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.WasOVReportUsedToCreateTheLanguageVariantReportAndTimeCodesOrFaultsCopied, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.WasOVReportUsedToCreateTheLanguageVariantReportAndTimeCodesOrFaultsCopied, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Do OV Timecodes and approved faults match the created language<br />  variant:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.DoOVTimecodesAndApprovedFaultsMatchTheCreatedLanguageVariant, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.DoOVTimecodesAndApprovedFaultsMatchTheCreatedLanguageVariant, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Has the slate been checked for Text content / Timings / Audio<br />  config:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.HasTheSlateBeenCheckedForTextContentOrTimingsOrAudioConfig, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.HasTheSlateBeenCheckedForTextContentOrTimingsOrAudioConfig, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Has the Aspect Ratio been checked on the slate and programme:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.HasTheAspectRatioBeenCheckedOnTheSlateAndProgramme, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.HasTheAspectRatioBeenCheckedOnTheSlateAndProgramme, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Is created language variant File Normal Video Range:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.IsCreatedLanguageVariantFileNormalVideoRange, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.IsCreatedLanguageVariantFileNormalVideoRange, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Are all inserts Normal Video Range:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.AreAllInsertsNormalVideoRange, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.AreAllInsertsNormalVideoRange, false) No </label>
                        </div>
                    </div>

                    @*<div class="row">
                            <div class="col-sm-9">
                                <label class="control-label">Are all inserts edited correctly:</label>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.AreAllInsertsEditedCorrectly, true) Yes </label>
                                <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.AreAllInsertsEditedCorrectly, false) No </label>
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Have all localised inserts been checked for text content / Graphics /<br /> Spelling / Grammar:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.HaveAllLocalisedInsertsBeenCheckedForTextContentOrGraphicsOrSpellingOrGrammar, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.HaveAllLocalisedInsertsBeenCheckedForTextContentOrGraphicsOrSpellingOrGrammar, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">First and last cut been checked / logged as reference:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.FirstAndLastCutBeenCheckedOrloggedAsReference, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.FirstAndLastCutBeenCheckedOrloggedAsReference, false) No </label>
                        </div>
                    </div>

                    @*<div class="row">
                            <div class="col-sm-9">
                                <label class="control-label">Is the Dub Card present at end feature and on separate file supplied:</label>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.IsTheDubCardPresentAtEndFeatureAndOnSeparateFileSupplied, true) Yes </label>
                                <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.IsTheDubCardPresentAtEndFeatureAndOnSeparateFileSupplied, false) No </label>
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Is Dub Card Normal Video Range:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.IsDubCardNormalVideoRange, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.IsDubCardNormalVideoRange, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label text-left text-nowrap">Has the Dub Card been checked for text content / Graphics / Spelling /<br />Grammar:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.HasTheDubCardBbeenCheckedForTextContentOrGraphicsOrSpellingOrgrammar, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.HasTheDubCardBbeenCheckedForTextContentOrGraphicsOrSpellingOrgrammar, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label text-left text-nowrap">Has all texted content been listed in Localised language in report and <br /> checked:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.HasAllTextedContentBeenListedInLocalisedLanguageInReportAndChecked, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.HasAllTextedContentBeenListedInLocalisedLanguageInReportAndChecked, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Is the New Warner Bros Blue Shield Logo Present Top / Tail:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            @Html.TextBoxFor(m => m.ChecklistWarner.IsTheNewWarnerBrosBlueShieldLogoPresentTopOrTail, new { @class = "form-control" })
                        </div>
                    </div>




                </div>


                <div class="col-sm-5 checklistBorderLeft">
                    <b style="font-size:14px;">Audio and Metadata</b>
                    <hr />

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Is Audio on file OV:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.IsAudioOnFileOV, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.IsAudioOnFileOV, false) No </label>
                        </div>
                    </div>

                    @*<div class="row">
                            <div class="col-sm-9">
                                <label class="control-label">Is the audio channel layout 5.1 + 2.0:</label>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.IsTheAudioChannelLayout_5_1_And_2_0, true) Yes </label>
                                <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.IsTheAudioChannelLayout_5_1_And_2_0, false) No </label>
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Does the audio channel layout match the original versions <br />(with no M&E):</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            @Html.TextBoxFor(m => m.ChecklistWarner.DoesTheAudioChannelLayoutMatchOriginalVersionsWithNoMandE, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Does the audio language match the original versions:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            @Html.TextBoxFor(m => m.ChecklistWarner.DoesTheAudioLanguageMatchOriginalVersions, new { @class = "form-control" })
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Is There M&E on File:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.IsThereMAndEOnFile, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.IsThereMAndEOnFile, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Is 5.1 audio config L, R, C, LFE, Ls, Rs:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.Is_5_1_AudioConfig_L_R_C_LFE_Ls_Rs, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.Is_5_1_AudioConfig_L_R_C_LFE_Ls_Rs, false) No </label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Audio / Video Sync Checked / Logged:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.AudioOrVideoSyncCheckedOrLogged, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.AudioOrVideoSyncCheckedOrLogged, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Has all File Metadata been checked:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.HasAllFileMetadatBeenChecked, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.HasAllFileMetadatBeenChecked, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">File format:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            @Html.TextBoxFor(m => m.ChecklistWarner.FileFormat, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Codec:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            @Html.TextBoxFor(m => m.ChecklistWarner.Codec, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Standard / Frame rate:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            @Html.TextBoxFor(m => m.ChecklistWarner.StandardOrFrameRate, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Resolution:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            @Html.TextBoxFor(m => m.ChecklistWarner.Resolution, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Progressive:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.Progressive, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.Progressive, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">CLAP Present:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.CLAPPresent, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistWarner.CLAPPresent, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Colour Primaries:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            @Html.TextBoxFor(m => m.ChecklistWarner.ColourPrimaries, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Transfer Characteristics:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            @Html.TextBoxFor(m => m.ChecklistWarner.TransferCharacteristics, new { @class = "form-control" })
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Matrix Coefficients:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            @Html.TextBoxFor(m => m.ChecklistWarner.MatrixCoefficients, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Audio Bit Depth / Rate:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            @Html.TextBoxFor(m => m.ChecklistWarner.AudioBitDepthOrRate, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <label class="control-label">Is Audio Discrete:</label>
                        </div>
                        <div class="col-sm-3 form-group">
                            @Html.TextBoxFor(m => m.ChecklistWarner.IsAudioDiscreate, new { @class = "form-control" })
                        </div>
                    </div>


                </div>


            </div>

        </div>

        @*</div>*@


    }



</div>

<script>


    function setActiveButton() {
        $(".subMenuOnClick").removeClass("subMenuOnClick")
        $("#lnkQcCkecklist").addClass("subMenuOnClick");
    }

    $(function () {

                $(function () {

                    setActiveButton();

                    $('#btnSave').on("click", function () {

                        //$('.cssload-preloader').fadeIn();
                        var myModel = $('#form_jobdetails').serializeObject();

                        console.log('Model: ' + JSON.stringify(myModel))



                        $.post('/Job/SaveChecklist', { model: myModel }).done(function (data) {

                            if (data.success == true) {
                                Msg.success(data.msg, 2 * 1000);
                            }
                            else {
                                Msg.error(data.msg, 5 * 1000);
                            }
                        })
                            .fail(function (xdata) {

                                Msg.error('Error occured! <b>Status:</b> ' + xdata.status + ' <b>Error Message:</b> ' + xdata.statusText, 5 * 1000);
                            })
                            .always(function () {

                                $('.cssload-preloader').hide();
                            });

                    });



                });
    });

      </script>
