@model Deluxe.QCReport.Web.Models.HomeVM


<div class="row">
    <div class="col-sm-4">
        &nbsp;
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12  ChecklistHeaderUnderline">
                        File Details:
                    </div>
                </div>

                <div class="row  checklistHeader">
                    <div class="col-xs-5">
                        <label class="control-label">Banijay file to Spec: </label>
                    </div>
                    <div class="col-xs-5 form-group float-left">
                        <label class="radio-inline"> @Html.RadioButtonFor(m => m.ChecklistBanijayRights.FileToSpec, true) Yes </label>
                        <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistBanijayRights.FileToSpec, false) No </label>
                    </div>
                </div>
                <div class="row   checklistHeader">
                    <div class="col-xs-5">
                        <label class="control-label">Decode check pass: </label>
                    </div>
                    <div class="col-xs-6 form-group float-left">
                        <label class="radio-inline"> @Html.RadioButtonFor(m => m.ChecklistBanijayRights.DecodeCheckPass, true) Yes </label>
                        <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistBanijayRights.DecodeCheckPass, false) No </label>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Confirm the video format: </label>
                    </div>
                    <div class="col-sm-6 form-group float-left">
                        @Html.TextBoxFor(m => m.ChecklistBanijayRights.ConfirmVideoFormat, new { @class = "form-control" })
                    </div>

                </div>*@


            </div>

        </div>
    </div>
    <div class="col-sm-4">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12  ChecklistHeaderUnderline">
                        Video Codec:
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-5">
                        <label class="control-label">Codec: </label>
                    </div>
                    <div class="col-sm-6 form-group float-left">
                        @Html.DropDownListFor(m => m.ChecklistBanijayRights.VideoCodec,
                       new SelectList(Model.VideoCodecList, "value", "value"),
                       "-- Select Video Codec --",
                       new { @class = "form-control" })
                    </div>

                    @*<div class="col-xs-5">
                <label class="control-label">Format: </label>
            </div>
            <div class="col-sm-6 form-group float-left">
                @Html.TextBoxFor(m => m.ChecklistBanijayRights.Format, new { @class = "form-control" })
            </div>*@
                </div>
                @*<div class="row">
            <div class="col-xs-5">
                <label class="control-label">Standard: </label>
            </div>
            <div class="col-sm-6 form-group float-left">
                @Html.TextBoxFor(m => m.ChecklistBanijayRights.Standard, new { @class = "form-control" })
            </div>
        </div>*@
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Frame rate:</label>
                    </div>
                    <div class="col-sm-6 form-group float-left">
                        @Html.TextBoxFor(m => m.ChecklistBanijayRights.FrameRate, new { @class = "form-control" })
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Video Bit Rate:</label>
                    </div>
                    <div class="col-sm-6 form-group float-left">
                        @Html.TextBoxFor(m => m.ChecklistBanijayRights.VideoBitRate, new { @class = "form-control" })
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Video Bit Depth:</label>
                    </div>
                    <div class="col-sm-6 form-group float-left">
                        <input />
                        @Html.TextBoxFor(m => m.ChecklistBanijayRights.VideoBitDepth, new { @class = "form-control" })
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Frame size / Resolution: </label>
                    </div>
                    <div class="col-sm-6 form-group float-left">
                        @Html.TextBoxFor(m => m.ChecklistBanijayRights.FrameSizeOrResolution, new { @class = "form-control" })
                    </div>
                </div>

                @*<div class="row">
            <div class="col-sm-5">
                <label class="control-label">Aspect Ratio:  </label>
            </div>
            <div class="col-sm-6 form-group float-left">
                @Html.TextBoxFor(m => m.ChecklistBanijayRights.AspectRatio, new { @class = "form-control" })
            </div>
        </div>*@


            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12  ChecklistHeaderUnderline">
                        Audio Codec:
                    </div>
                </div>
              
                <div class="row">
                    <div class="col-xs-5">
                        <label class="control-label">Codec: </label>
                    </div>
                    <div class="col-sm-6 form-group float-left">
                        @Html.DropDownListFor(m => m.ChecklistBanijayRights.AudioCodec, 
                         new SelectList(Model.AudioCodecList, "value", "value"),
                         "-- Select Audio Codec --", 
                         new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-5">
                        <label class="control-label">Audio Bit Depth: </label>
                    </div>
                    <div class="col-sm-6 form-group float-left">
                        @Html.TextBoxFor(m => m.ChecklistBanijayRights.BitDepth, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <label class="control-label">Audio Bit Rate:  </label>
                    </div>
                    <div class="col-sm-6 form-group float-left">
                        @Html.TextBoxFor(m => m.ChecklistBanijayRights.AudioBitRate, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Sample Rate:</label>
                    </div>
                    <div class="col-sm-6 form-group float-left">
                        @Html.TextBoxFor(m => m.ChecklistBanijayRights.SampleRate, new { @class = "form-control" })
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <label class="control-label">Discrete: </label>
                    </div>
                    <div class="col-sm-5 form-group float-left">

                        @Html.DropDownListFor(
                         m => m.ChecklistBanijayRights.Discrete,
                         new SelectList(
                             Model.YesNoList,
                             "value",
                             "value",
                             Model.ChecklistBanijayRights.Discrete),
                         "",
                         new { @class = "form-control", @style = "width:50px" })

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-12  ChecklistHeaderUnderline">
                Metadata:
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                 <div class="row">
                    <div class="col-xs-5">
                        <label class="control-label">Is the file Metadata correct: </label>
                    </div>
                    <div class="col-sm-5 form-group float-left">

                        @Html.DropDownListFor(
                         m => m.ChecklistBanijayRights.IsTheFileMetadataCorrect,
                         new SelectList(
                             Model.YesNoList,
                             "value",
                             "value",
                             Model.ChecklistBanijayRights.IsTheFileMetadataCorrect),
                         "",
                         new { @class = "form-control", @style = "width:50px" })

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-5">
                        <label class="control-label">Interlaced / Progressive correctly flagged: </label>
                    </div>
                    <div class="col-sm-5 form-group float-left">

                        @Html.DropDownListFor(
                         m => m.ChecklistBanijayRights.InterlacedOrProgressiveCorrectlyFlagged,
                         new SelectList(
                             Model.YesNoList,
                             "value",
                             "value",
                             Model.ChecklistBanijayRights.InterlacedOrProgressiveCorrectlyFlagged),
                         "",
                         new { @class = "form-control", @style = "width:50px" })

                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-5">
                        <label class="control-label">CLAP Present: </label>
                    </div>
                    <div class="col-sm-5 form-group float-left">

                        @Html.DropDownListFor(
                         m => m.ChecklistBanijayRights.CLAPPresent,
                         new SelectList(
                             Model.YesNoList,
                             "value",
                             "value",
                             Model.ChecklistBanijayRights.CLAPPresent),
                         "",
                         new { @class = "form-control", @style = "width:50px" })

                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Colour Primaries Present: </label>
                    </div>
                    <div class="col-sm-5 form-group float-left">
                        @Html.TextBoxFor(m => m.ChecklistBanijayRights.ColourPrimariesPresent, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Transfer Characteristics Present: </label>
                    </div>
                    <div class="col-sm-5 form-group float-left">
                        @Html.TextBoxFor(m => m.ChecklistBanijayRights.TransferCharacteristicsPresent, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Matrix Coefficients Present: </label>
                    </div>
                    <div class="col-sm-5 form-group float-left">
                        @Html.TextBoxFor(m => m.ChecklistBanijayRights.MatrixCoefficientsPresent, new { @class = "form-control" })
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

