@model Deluxe.QCReport.Web.Models.HomeVM

<div class="bs-callout bs-callout-warning">

    @using (Html.BeginForm("SaveChecklist", "Job", FormMethod.Post, new { @class = "form-horizontal form-group-sm", @style = "margin-top: 20px;", @id = "form_jobdetails" }))
    {
        <div class="row" style="margin-top: -25px;">
            <div class="col-xs-8" style="font-size:14px;font-weight:bold">
                @string.Format("{0} - {1}: Checklist - Banijay Rights", Model.ChecklistBanijayRights.Qcnum, Model.ChecklistBanijayRights.subQcnum)
            </div>
        </div>

        if (Model.SecurityLevel >= 1)

        {

            <div class="row">
                <div class="col-xs-8 text-center" style="font-size:14px;font-weight:bold">
                    <button type="button" class="btn btn-xs btn-primary CRUDButton" id="btnSave">Save</button>
                </div>
            </div>

        }
        <div class="row">
            <div class="col-xs-8" style="font-size:14px;font-weight:bold">
                &nbsp;
            </div>
        </div>


        <div class="bs-callout bs-callout-default">
            <div class="row">
                <div class="col-sm-6">
                    <span class="ChecklistBigHeader">Measurements</span>
                    <hr />

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12  ChecklistHeaderUnderline">
                                    File Details:
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 checklistHeader">
                                    <label class="control-label">Banijay file to Spec: </label>
                                    &nbsp;<label class="radio-inline" style="font-weight:bold;margin-top:-5px;"> @Html.RadioButtonFor(m => m.ChecklistBanijayRights.FileToSpec, true) Yes </label>
                                    <label class="radio-inline" style="font-weight:bold;margin-top:-5px;">@Html.RadioButtonFor(m => m.ChecklistBanijayRights.FileToSpec, false) No </label>

                                </div>
                            </div>
                            <div class="row checklistHeader">
                                <div class="col-xs-12">
                                    <label class="control-label">Decode check pass: </label>
                                    <label class="radio-inline" style="font-weight:bold;margin-top:-5px;"> @Html.RadioButtonFor(m => m.ChecklistBanijayRights.DecodeCheckPass, true) Yes </label>
                                    <label class="radio-inline" style="font-weight:bold;margin-top:-5px;">@Html.RadioButtonFor(m => m.ChecklistBanijayRights.DecodeCheckPass, false) No </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Please confirm the video format: </label>
                                </div>
                                <div class="col-sm-6 form-group float-left">
                                    @Html.TextBoxFor(m => m.ChecklistBanijayRights.Format, new { @class = "form-control" })
                                </div>

                            </div>


                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12  ChecklistHeaderUnderline">
                                    Video Codec:
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label class="control-label">Format: </label>
                                </div>
                                <div class="col-sm-6 form-group float-left">
                                    @Html.TextBoxFor(m => m.ChecklistBanijayRights.Format, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label class="control-label">Standard: </label>
                                </div>
                                <div class="col-sm-6 form-group float-left">
                                    @Html.TextBoxFor(m => m.ChecklistBanijayRights.Standard, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="control-label">Frame rate:</label>
                                </div>
                                <div class="col-sm-6 form-group float-left">
                                    @Html.TextBoxFor(m => m.ChecklistBanijayRights.FrameRate, new { @class = "form-control" })
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="control-label">Frame size / Resolution: </label>
                                </div>
                                <div class="col-sm-6 form-group float-left">
                                    @Html.TextBoxFor(m => m.ChecklistBanijayRights.FrameSizeOrResolution, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="control-label">Aspect Ratio:  </label>
                                </div>
                                <div class="col-sm-6 form-group float-left">
                                    @Html.TextBoxFor(m => m.ChecklistBanijayRights.AspectRatio, new { @class = "form-control" })
                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12  ChecklistHeaderUnderline">
                                    Audio Codec:
                                </div>
                            </div>
                        </div>


















                    </div>















                </div>

                <div class="col-sm-6 checklistBorderLeft">
                    <span class="ChecklistBigHeader">Specifics</span>
                    <hr />


                    <div>

                    </div>

                </div>

                ,
            </div>
         </div>
        @Html.HiddenFor(m => m.ChecklistBanijayRights.Qcnum);
        @Html.HiddenFor(m => m.ChecklistBanijayRights.subQcnum);
        @Html.HiddenFor(m => m.ChecklistBanijayRights.CustId);


    }
</div>