
@model Deluxe.QCReport.Web.Models.HomeVM


<div class="bs-callout bs-callout-warning">

    @using (Html.BeginForm("SaveChecklist", "DPP", FormMethod.Post, new { @class = "form-horizontal form-group-sm", @style = "margin-top: 20px;", @id = "form_jobdetails" }))
    {

        <div class="row" style="margin-top: -25px;">
            <div class="col-xs-8" style="font-size:14px;font-weight:bold">
                @string.Format("{0} - {1}: DPP Checklist", Model.ChecklistDPP.QCNum, Model.ChecklistDPP.SubQCNum)
            </div>
        </div>
        if (Model.SecurityLevel >= 1)

        {

            <div class="row">
                <div class="col-xs-12 text-center" style="font-size:14px;font-weight:bold">
                    <button type="button" class="btn btn-xs btn-primary CRUDButton" id="btnSave">Save</button>
                </div>
            </div>

        }
        <div class="row">
            <div class="col-xs-8" style="font-size:14px;font-weight:bold">
                &nbsp;
            </div>
        </div>
       

        @Html.HiddenFor(m => m.ChecklistDPP.QCNum);
        @Html.HiddenFor(m => m.ChecklistDPP.SubQCNum);
       


        <div class="bs-callout bs-callout-default">
            <div class="row">

                <div class="col-sm-6">

                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">AQC warnings reviewed:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.AQCWarningsReviewed, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.AQCWarningsReviewed, false) No </label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">PSE report reviewed:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.PSEReportReviewed, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.PSEReportReviewed, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">AS-11 DPP metadata checked:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.AS11DPPMetadataChecked, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.AS11DPPMetadataChecked, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">Audio channel layout matches metadata:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.AudioChannelLayoutMatchesMetadata, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.AudioChannelLayoutMatchesMetadata, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">Multichannel audio metadata matches:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.MultichannelAudioMetadataMatches, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.MultichannelAudioMetadataMatches, false) No </label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">Multichannel down-mix sound phase checked:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.MultichannelDownMixSoundPhaseChecked, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.MultichannelDownMixSoundPhaseChecked, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">Clock / Slate information matches metadata:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.ClockOrSlateInformationMatchesMetadata, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.ClockOrSlateInformationMatchesMetadata, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">AFD correct:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.AFDCorrect, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.AFDCorrect, false) No </label>
                        </div>
                    </div>

                </div>


                <div class="col-sm-6 checklistBorderLeft">
                    
                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">Stills are de-interlaced correctly:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.StillsAreDeinterlacedCorrectly, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.StillsAreDeinterlacedCorrectly, false) No </label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">Line up starts at 09:59:30:00:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.LineUpStartsAt_09_59_30_00, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.LineUpStartsAt_09_59_30_00, false) No </label>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">First part clock / slate starts at 09:59:50:00:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.FirstPartClockOrSlateStartsAt_09_59_50_00, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.FirstPartClockOrSlateStartsAt_09_59_50_00, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">First part programme starts at 10:00:00:00:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.FirstPartProgrammeStartsAt_10_00_00_00, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.FirstPartProgrammeStartsAt_10_00_00_00, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">Captions inside safe area:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.CaptionsInsideSafeArea, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.CaptionsInsideSafeArea, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">End Credits meet broadcaster branding:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.EndCreditsMeetBroadcasterBranding, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.EndCreditsMeetBroadcasterBranding, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">Rollers and motion GFX are interlaced & smooth:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.RollersAndMotionGFXAreInterlacedAndSmooth, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.RollersAndMotionGFXAreInterlacedAndSmooth, false) No </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">Freeze / living hold present at end:</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.FreezeOrlivingHoldPresentAtEnd, true) Yes </label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.ChecklistDPP.FreezeOrlivingHoldPresentAtEnd, false) No </label>
                        </div>
                    </div>


                </div>

            </div>

        </div>

      



    }




</div>

<script>
    function setActiveButton() {
        $(".subMenuOnClick").removeClass("subMenuOnClick")
        $("#lnkDPPCkecklist").addClass("subMenuOnClick");
    }

    $(function () {

        $(function () {
           setActiveButton();

        $('#btnSave').on("click", function () {

            //$('.cssload-preloader').fadeIn();
            var myModel = $('#form_jobdetails').serializeObject();

            console.log('Model: ' + JSON.stringify(myModel))

            $.post('/DPP/SaveChecklist', { model: myModel }).done(function (data) {

                if (data.success == true) {
                    Msg.success(data.msg, 2 * 1000);
                }
                else {
                    Msg.error(data.msg, 5 * 1000);
                }
            })
                .fail(function (xdata) {

                    Msg.error('Error occured! <b>Status:</b> ' + xdata.status + ' <b>Error Message:</b> ' + xdata.statusText, 5 * 1000);
                })
                .always(function () {

                    $('.cssload-preloader').hide();
                });

        });


    });

    });
</script>
