@model Deluxe.QCReport.Web.Models.HomeVM

<div class="bs-callout bs-callout-warning">
    <div class="row">
        <div class="col-xs-3">
            <b style="font-size:14px;">@string.Format("{0} - {1}: Commercial Broadcasters Only", Model.DPPCommBroadcasters.QCNum, Model.DPPCommBroadcasters.SubQCNum)</b>
        </div>


        @if (Model.SecurityLevel >= 1)
        {

            <div class="col-xs-5 text-center">

                <button class="btn btn-xs btn-primary CRUDButton" id="btnSave">Save</button>
            </div>

        }


    </div>

    @using (Html.BeginForm("SaveHeaderDetails", "Job", FormMethod.Post, new { @class = "form-horizontal form-group-sm", @style = "margin-top: 20px;", @id = "form_jobdetails" }))
    {
        @Html.HiddenFor(m => m.DPPCommBroadcasters.QCNum);
        @Html.HiddenFor(m => m.DPPCommBroadcasters.SubQCNum);


        <div class="row">
            <div class="col-sm-3 text-right">

                <label class="control-label">Product placement logo present & in safe area (if required):</label>
            </div>

            <div class="col-sm-5 form-group">

                <label class="radio-inline" style="font-weight:bold;margin-top:-5px;"> @Html.RadioButtonFor(m => m.DPPCommBroadcasters.ProductPlacementLogoPresentAndInSafeArea, true) Yes </label>
                <label class="radio-inline" style="font-weight:bold;margin-top:-5px;">@Html.RadioButtonFor(m => m.DPPCommBroadcasters.ProductPlacementLogoPresentAndInSafeArea, false) No </label>

            </div>


        </div>

        <div class="row">
            <div class="col-sm-3 text-right">

                <label class="control-label">Sponsorship head / tail present (if required):</label>
            </div>

            <div class="col-sm-5 form-group">
                <label class="radio-inline" style="font-weight:bold;margin-top:-5px;"> @Html.RadioButtonFor(m => m.DPPCommBroadcasters.SponsorshipHeadAndTailPresent, true) Yes </label>
                <label class="radio-inline" style="font-weight:bold;margin-top:-5px;">@Html.RadioButtonFor(m => m.DPPCommBroadcasters.SponsorshipHeadAndTailPresent, false) No </label>
            </div>
        </div>

        <div class="row">


            <div class="col-sm-3 text-right">
                <label class="control-label">T&Cs within safe area:</label>
            </div>

            <div class="col-sm-5 form-group">
                <label class="radio-inline" style="font-weight:bold;margin-top:-5px;"> @Html.RadioButtonFor(m => m.DPPCommBroadcasters.TAndCsWithinSafeArea, true) Yes </label>
                <label class="radio-inline" style="font-weight:bold;margin-top:-5px;">@Html.RadioButtonFor(m => m.DPPCommBroadcasters.TAndCsWithinSafeArea, false) No </label>
            </div>


        </div>


    }

</div>



<script>

    function setActiveButton() {
        $(".subMenuOnClick").removeClass("subMenuOnClick")
        $("#lnkDPPProdDetails").addClass("subMenuOnClick");
    }


    $(function () {
        $(function () {

            setActiveButton();

            $('#btnSave').on("click", function () {

                var myModel = $('#form_jobdetails').serializeObject();

                $.post('/DPP/SaveDPPCommBroadcasters', { model: myModel }).done(function (data) {

                    if (data.success == true) {
                        Msg.success(data.msg, 2 * 1000);
                    }
                    else {
                        Msg.error(data.msg, 5 * 1000);
                    }
                })
                    .fail(function (xdata) {

                        Msg.error('Error occured! <b>Status:</b> ' + xdata.status + ' <b>Error Message:</b> ' + xdata.statusText, 5 * 1000);
                    })
                    .always(function () {


                    });
            });



        });



    });





</script>

