@model  Deluxe.QCReport.Web.Models.TopSubNavigationVM

<button type="button"
        class="btn btn-sm btn-primary lnkBNJRProgDetails topsubmenu"
        id="lnkBNJRProgDetails"
        onclick="PopulateJobDetails('/BanijayRights/GetProgrammeDetails', 'lnkBNJRProgDetails')"
        data-qcnum="@Model.QCNumber"
        data-revnum="@Model.RevNumber"
        data-wonum="@Model.WONumber">
    Programme Details
</button>

<button type="button"
        class="btn btn-sm btn-default lnkBNJRAudio  topsubmenu"
        id="lnkBNJRAudio"
        onclick="PopulateJobDetails('/BanijayRights/GetAudio', 'lnkBNJRAudio')"
        data-qcnum="@Model.QCNumber"
        data-revnum="@Model.RevNumber"
        data-wonum="@Model.WONumber">
    Audio
</button>

<button type="button"
        class="btn btn-sm btn-info lnkBNJRVideo  topsubmenu"
        id="lnkBNJRVideo"
        onclick="PopulateJobDetails('/BanijayRights/GetVideo', 'lnkBNJRVideo')"
        data-qcnum="@Model.QCNumber"
        data-revnum="@Model.RevNumber"
        data-wonum="@Model.WONumber">
    Video
</button>

<button type="button"
        class="btn btn-sm btn-warning lnkBNJRProgrammeLayout  topsubmenu"
        id="lnkBNJRProgrammeLayout"
        onclick="PopulateJobDetails('/BanijayRights/GetProgrammeLayout', 'lnkBNJRProgrammeLayout')"
        data-qcnum="@Model.QCNumber"
        data-revnum="@Model.RevNumber"
        data-wonum="@Model.WONumber">
    Layout
</button>

<button type="button"
        class="btn btn-sm btn-primary lnkBNJRTextDetails  topsubmenu"
        id="lnkBNJRTextDetails"
        onclick="PopulateJobDetails('/BanijayRights/GetTextDetails', 'lnkBNJRTextDetails')"
        data-qcnum="@Model.QCNumber"
        data-revnum="@Model.RevNumber"
        data-wonum="@Model.WONumber">
    Text Details
</button>

<button type="button"
        class="btn btn-sm btn-danger lnkBNJRFaults  topsubmenu"
        id="lnkBNJRFaults"
        onclick="PopulateJobDetails('/BanijayRights/GetLog', 'lnkBNJRFaults')"
        data-qcnum="@Model.QCNumber"
        data-revnum="@Model.RevNumber"
        data-wonum="@Model.WONumber">
    Faults
</button>

<button type="button"
        class="btn btn-sm btn-success lnkBNJRNotes  topsubmenu"
        id="lnkBNJRNotes"
        onclick="PopulateJobDetails('/BanijayRights/GetNotes', 'lnkBNJRNotes')"
        data-qcnum="@Model.QCNumber"
        data-revnum="@Model.RevNumber"
        data-wonum="@Model.WONumber">
    Notes
</button>


<button type="button"
        class="btn btn-sm btn-outline-light topsubmenu"
        style="border:none;">
    &nbsp;
</button>

<button type="button"
        id="btnFaultImage"
        class="btn btn-sm btn-light col-sm-offset-1 btnFaultImage topsubmenu"
        onclick="PopulateJobDetails('/FaultImage/LoadFaultsImages', 'btnFaultImage')"
        data-qcnum="@Model.QCNumber"
        data-revnum="@Model.RevNumber"
        data-wonum="@Model.WONumber">
    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
    Image Upload
</button>

<button type="button"
        class="btn btn-sm btn-outline-light"
        style="border:none;">
    &nbsp;
</button>