@model  Deluxe.QCReport.Web.Models.TopSubNavigationVM

@{
    int SecLvl = Convert.ToInt32(ViewBag.SecLevel);

}


@if (Model.CustomerName.ToLower().Contains("dpp eyeball"))
{
    
      Html.RenderPartial("_DPPTopSubNavigation", Model);
    
}
else if (Model.QCType.ToUpper().Equals("J")) /*Banijay Rights new template*/
{
   
      Html.RenderPartial("_BanijayRightsTopSubNavigation", Model);
    
}

else
{
    
    Html.RenderPartial("_GenericTopSubNavigation", Model);
   
}


 @if (SecLvl >= 1)
{
    <button type="button" class="btn btn-sm btn-info col-sm-offset-1 lnkQcCopy" id="lnkQcCopy" onclick="PopulateJobDetails('/Job/CopyQC', 'lnkQcCopy')" data-qcnum="@Model.QCNumber" data-revnum="@Model.RevNumber" data-wonum="@Model.WONumber">
        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
        Copy
    </button>

}

<button type="button" class="btn btn-sm btn-outline-light" style="border:none;">&nbsp;</button>
<button type="button" class="btn btn-sm btn-danger lnkQcClientSpecs" id="lnkQcClientSpecs" onclick="PopulateJobDetails('/Job/ClientSpecs', 'lnkQcClientSpecs')" data-qcnum="@Model.QCNumber" data-revnum="@Model.RevNumber" data-wonum="@Model.WONumber">Specs</button>
<button type="button" class="btn btn-sm btn-outline-light" style="border:none;">&nbsp;</button>
<button type="button" class="btn btn-sm btn-outline-primary" style="border:none;">&nbsp;</button>
<button type="button" id="btnReport" class="btn btn-sm btn-default col-sm-offset-1 btnReport" onclick="PopulateJobDetails('/Report/LoadReportTypes', 'btnReport')" data-qcnum="@Model.QCNumber" data-revnum="@Model.RevNumber" data-qctype="@Model.QCType">
    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    Report
</button>



