
@model Deluxe.QCReport.Common.Models.Review

@{
    var qcNumber = Model.QCNumber;
    var revNumber = Model.ReviewNumber;
    var qcType = Model.QCType;
 }

    <li class="list-group-item list-group-item">
              <b>
                  <a href="#" class="lnkDPPProgDetails" 
                      onclick="setQCAndRevNumbers(@qcNumber,@revNumber);PopulateJobDetails('/DPP/DPPProgDetails', 'lnkDPPProgDetails')" 
                      data-qcnum="@qcNumber"
                     data-revnum="@revNumber">Programme Details
                  </a>
              </b>
    </li>

    <li class="list-group-item list-group-item">
        <b><a href="#" class="lnkDPPProdDetails" 
              onclick="setQCAndRevNumbers(@qcNumber,@revNumber);PopulateJobDetails('/DPP/DPPProdDetails', 'lnkDPPProdDetails')" 
              data-qcnum="@qcNumber" 
              data-revnum="@revNumber">Production Details</a></b>
    </li>

    <li class="list-group-item list-group-item">
        <b><a href="#" class="lnkDPPChecklist" 
              onclick="setQCAndRevNumbers(@qcNumber,@revNumber);PopulateJobDetails('/DPP/DPPChecklist', 'lnkDPPChecklist')"
              data-qcnum="@qcNumber" 
              data-revnum="@revNumber">Checklist</a></b>
    </li>

    <li class="list-group-item list-group-item">
        <b><a href="#" class="lnkDPPCommBroadcasters" 
              onclick="setQCAndRevNumbers(@qcNumber,@revNumber);PopulateJobDetails('/DPP/DPPCommBroadcasters', 'lnkDPPCommBroadcasters')" 
              data-qcnum="@qcNumber" 
              data-revnum="@revNumber">Commercial Broadcaster</a></b>
    </li>

    <li class="list-group-item list-group-item">
        <b><a href="#" 
              class="lnkDPPProdAndTechLog" 
              onclick="setQCAndRevNumbers(@qcNumber,@revNumber);PopulateJobDetails('/DPP/DPPProdAndTechLog', 'lnkDPPProdAndTechLog')" 
              data-qcnum="@qcNumber" 
              data-revnum="@revNumber">Log</a></b>
    </li>

    <li class="list-group-item list-group-item">
        <b><a href="#" class="lnkDPPProdSignOff" 
              onclick="setQCAndRevNumbers(@qcNumber,@revNumber);PopulateJobDetails('/DPP/DPPProdSignOff', 'lnkDPPProgrammeDetails')" 
              data-qcnum="@qcNumber" 
              data-revnum="@revNumber">Final</a></b>
    </li>


