@model Deluxe.QCReport.Common.Models.JobTreeViewVM
@using Deluxe.QCReport.Common.Models;


@{

    int SecLvl = Convert.ToInt32(ViewBag.SecLevel);

}

<ul class="list-group" style="font-size:11px">

    <li class="list-group-item list-group-item active">
        <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" id="btnTVJob">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <b> Job #: <a href="#" class="aJobDetails" style="color:white" data-wonum="@Model.WONumber">@Model.WONumber</a></b>

    </li>

    @foreach (Deluxe.QCReport.Common.Models.QC qcItem in Model.QCs)
    {
        <li class="list-group-item list-group-item-info liQC" style="margin-left:15px; display:none;">
            <button type="button" class="btn btn-default btn-xs btnTVQC" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <b> QC #: <a href="#" class="aQCDetails" data-wonum="@Model.WONumber" data-qcnum="@qcItem.QCNumber">@qcItem.QCNumber</a></b>

            <ul class="list-group" style="margin-bottom:0;display:none;">
                @foreach (KeyValuePair<int, DateTime?> revItem in qcItem.Review)
                {
                <li class="list-group-item list-group-item" style="font-size:11px">
                    <button type="button" class="btn btn-default btn-xs btnTVRev" aria-label="Left Align">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <b>
                        Rev: <a href="#" class="aRevDetails"
                                onclick="setQCAndRevNumbers(@qcItem.QCNumber,@revItem.Key)"
                                data-wonum="@Model.WONumber"
                                data-qcnum="@qcItem.QCNumber"
                                data-revnum="@revItem.Key">@revItem.Key.ToString() (@revItem.Value.ToString())</a>
                            </b>

                            <input type="hidden" id="currentQCNumber" />
                            <input type="hidden" id="currentRevNumber" />
                            <ul class="list-group" style="margin:10px 0 0 20px;  display:none;">

                                @if (Model.CustomerName.ToLower().Contains("dpp eyeball"))
                                {

                                    Html.RenderPartial("_DPPJobNavigation",
                                        new Review
                                        {
                                            QCNumber = qcItem.QCNumber,
                                            ReviewNumber = revItem.Key,
                                            QCType = qcItem.QCType,
                                        });
                                }

                                else if (qcItem.QCType.ToUpper().Equals("BNJR")) /*Banijay Rights - New Template*/
                                {

                                    Html.RenderPartial("_BanijayRightsJobNavigation",
                                    new Review
                                    {
                                        QCNumber = qcItem.QCNumber,
                                        ReviewNumber = revItem.Key,
                                        QCType = qcItem.QCType,
                                    });
                                }

                                else if (qcItem.QCType.ToUpper().Equals("TWDC")) /*Disney Plus Originals - TWDC*/
                                {

                                    Html.RenderPartial("_DisneyTWDCJobNavigation",
                                    new Review
                                    {
                                        QCNumber = qcItem.QCNumber,
                                        ReviewNumber = revItem.Key,
                                        QCType = qcItem.QCType,
                                    });
                                }

                                else
                                {
                                    Html.RenderPartial("_GenericJobNavigation",
                                    new Review
                                    {
                                        QCNumber = qcItem.QCNumber,
                                        ReviewNumber = revItem.Key,
                                        QCType = qcItem.QCType,
                                    });

                                }

                                @if (SecLvl >= 1)
                                {
                                    <li class="list-group-item list-group-item">
                                        <b>
                                            <a href="#"
                                               class="lnkQcCopy"
                                               onclick="setQCAndRevNumbers(@qcItem.QCNumber,@revItem.Key);PopulateJobDetails('/Job/CopyQC', 'lnkQcCopy')"
                                               data-wonum="@Model.WONumber"
                                               data-qcnum="@qcItem.QCNumber"
                                               data-revnum="@revItem.Key">Copy</a>
                                        </b>
                                    </li>
                                }

                                <li class="list-group-item list-group-item">
                                    <b>
                                        <a href="#"
                                           class="lnkQcClientSpecs"
                                           onclick="setQCAndRevNumbers(@qcItem.QCNumber,@revItem.Key);PopulateJobDetails('/Job/ClientSpecs', 'lnkQcClientSpecs')"
                                           data-qcnum="@qcItem.QCNumber"
                                           data-revnum="@revItem.Key">Specs</a>
                                    </b>
                                </li>

                            </ul>

                     </li>
                }
            </ul>
        </li>
    }
</ul>

@Scripts.Render("~/bundles/jobNavigation")
@*<script src="~/Scripts/Bundled/jobNav.js.js?v=@DateTime.Now" type="text/javascript"></script>*@
<script src="~/Scripts/Bundled/jobDetailsNav_3.js?v=@DateTime.Now" type="text/javascript"></script>

<script type="text/javascript">

    function setQCAndRevNumbers(qcNumber,revNumber) {
        $('#currentQCNumber').val(qcNumber);
        $('#currentRevNumber').val(revNumber);
    }

</script>
